<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-icon name="log-out" (click)="signOut()" item-end></ion-icon>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="puppies">
        puppies
      </ion-segment-button>
      <ion-segment-button value="kittens">
        kittens
       </ion-segment-button>
    </ion-segment>
  </div>
  
  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'puppies'">
      <ion-item *ngFor="let newPup of puppies; let i=index" (click)="puppyClick(i)">
        <ion-thumbnail item-start>
          <img src="{{newPup.image}}">
        </ion-thumbnail>
        <h2>Name:{{newPup.name}}</h2>
        <h2>Age:{{newPup.age}}</h2>
        <h2>Price:{{newPup.price}}</h2>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'kittens'">
      <ion-item *ngFor="let newKit of kittens;let i=index" (click)="kittyClick(i)">
        <ion-thumbnail item-start>
          <img src="{{newKit.image}}">
        </ion-thumbnail>
        <h2>Name:{{newKit.name}}</h2>
        <h2>Age:{{newKit.age}}</h2>
        <h2>Price:{{newKit.price}}</h2>
      </ion-item>
    </ion-list>
    
  </div>
  <!-- <button ion-button (click)="submitData()">submit</button> -->
</ion-content>
